@{
	Page.Title = "The All Knowing Magical 8-Ball - Powered by Twilio";
}


<h2>Ask a Question</h2>
<p>
    Call or Text a Question to (312) 698-3678; until my Twilio Account runs out of money.
</p>
<h2>Then</h2>
<p>
    Get an Answer.
</p>
<h2>Seriously, That's It</h2>
<p>
    What are you waiting for?
</p>